extends layout

block content
  .row
    .col-md-10
      h3 Accounts
    if coinkey != 'ALL'
      .col-md-1
        if offset - stepSize >= 0
          a.btn.btn-default.navigate(href="/accounts/"+coinkey+"/" + (offset - stepSize)) Previous
      .col-md-1
          a.btn.btn-default.navigate(href="/accounts/"+coinkey+"/" + (offset + stepSize)) Next
  .row
    if coinkey != 'ALL'
      .col-md-12
        .table-responsive
          table.table
            tr
              th Address
              th Balance
            for account in accounts
              tr
                td
                  a(href="/account/"+coinkey+"/" + account._id) #{account._id}
                td #{tokenformatter.format(account.balance,coinkey)}
    else
      for keycoin in coinArr
        .col-md-6
          .table-responsive
            table.table
              tr
                th(colspan="2")
                  div.tokenTitle
                    img(src=config.allCoins[keycoin].tokenImg)
                    | #{config.allCoins[keycoin].tokenName} Accounts
                  div.viewall
                    a.themeanchor(href='/accounts/'+keycoin) View All
              for account in accounts[keycoin]
                tr
                  td.text-align-left
                    span.margin-right-10 Address:
                    a(href="/account/"+coinkey+"/" + account._id) #{account._id}
                  td.text-align-right #{tokenformatter.format(account.balance,keycoin)}
