include ./mixins/event.pug
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

    meta(name='description', content='The explorer for Ethereum ERC20 based tokens')
    meta(name='author', content='bitfly')
    meta(name='keywords', content='ethereum, explorer, blockchain, etherchain, cryptocurrency, cryptocurrencies, bitcoin, erc20')

    title ERC20 Explorer

    link(href=config.bootstrapUrl, rel="stylesheet", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    nav.navbar.navbar-default.navbar-fixed-top.nav-custom
      .container-fluid(style='padding-top: 5px;')
        .navbar-header
          .logo
            img(src='https://koinex.in/koinex-logo-new.jpeg')
          .brand
            a(href='/')
              b
                | KOINEX
          .version
            | BETA
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        #navbar.collapse.navbar-collapse



              li= index + ': ' + val
          ul.nav.navbar-nav.navbar-right
            li.dropdown.top-header
              a.dropdown-toggle(data-toggle="dropdown" aria-expanded="false")
                | #{config.allCoins[coinkey].tokenName
                i.fa.fa-angle-down(style="margin-left: 10px;")
              ul.dropdown-menu
                each val, index in #{config.allCoins}
                  li.dropdown-list
                    a.uppercase.ng-binding val.tokenName(href="/"+coinkey)                
            li.top-header
              a.white(href='/accounts/'+coinkey) Accounts
            li.top-header
              a.white(href='/events/'+coinkey) Events

    .container
      block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

    div.container
      hr
      footer
        p.highlight
          | #{nodeStatus.nbrPeers} Peers connected
